* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(139, 109, 167);
  font-family: "Nexa", sans-serif;
  font-size: clamp(10px, 0.8vw + 0.4rem, 14px);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

#firstHeader {
  background-color: #e4e6ea;
}

.mail {
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

#socialLinks {
  display: flex;
  height: 1rem;
  gap: 10px;
}

.header {
  background-color: white;
  font-weight: bold;
}

/* Header Container Temel Stil */
.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  flex-wrap: wrap;
}

/* Logo */
.brand img {
  cursor: pointer;
  height: auto;
  max-height: 50px;
}

/* Menü */
.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0.5rem 1rem;
}

.menu li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  padding-right: 1rem;
  align-items: center;
  border-right: 1px solid #000000;
  height: 100%;
}

.menu li:last-child a {
  border-right: none;
  padding-right: 1rem;
}

/* Slider Images */
.mySlides {
  width: 100%;
  display: none;
}

/* Navigation Arrows */
.w3-left,
.w3-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2;
}

.w3-left {
  left: 10px;
}

.w3-right {
  right: 10px;
}

/* Slider Navigation Dots */
.w3-display-bottommiddle {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.w3-badge {
  height: 13px;
  width: 13px;
  background-color: #4344f8;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
}

.w3-badge:hover {
  background-color: #fff;
}

.w3-display-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  font-size: 63px;
  top: 207px;
  right: 400px;
  color: white;
  font-weight: bold;
}

.overlay-text-des {
  position: absolute;
  font-size: 28px;
  top: 290px;
  right: 461px;
  color: white;
}

.infoSection {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 4rem 0 4rem 0;
}

.infoSectionTitle {
  font-size: large;
  text-align: center;
}

.infoSectionTitle .bold {
  font-weight: 900;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.cardImage img {
  width: 100%; /* Görüntünün genişliğini tam olarak doldur */
  height: auto; /* Yüksekliği otomatik olarak ayarla */
  object-fit: cover; /* Görüntüyü kapsayacak şekilde ayarla */
}

.cardTitle {
  font-size: 24px;
  font-weight: bold;
}

.cardDescription {
  font-size: 16px;
  padding-top: 10px;
}

.cardContent {
  display: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardImage {
  position: relative; /* Absolute konumlandırmaya göre referans */
  width: 100%;
  height: auto;
}

.icon-container {
  position: absolute;
  bottom: -10px; /* Sağ alt köşe için */
  right: -10px;
  width: 40px; /* İkonun boyutunu ayarlayabilirsiniz */
  height: 40px;
}

.feedbackSection {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.feedbackTitle {
  font-size: xx-large;
  text-align: center;
}

.feedbackSubTitle {
  font-size: small;
  text-align: center;
}

.personCardWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.personCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.personName {
  color: #4344f8;
  font-weight: bold;
}

.feedbackButton {
  color: white;
  width: 15%;
  align-items: center;
  justify-content: center;
  background-color: #4344f8;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex; /* Flexbox kullanarak içeriği hizala */
  margin: 10px auto 0 auto; /* X ekseninde ortala */
}

.feedbackButton:hover {
  background-color: #384ecc;
}

.footer {
  background-color: #24272f;
  color: white;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footerColumn {
  flex: 1;
  padding: 0 20px;
}

.footerDescription {
  color: gray;
  padding-top: 8px;
}

.footerContact {
  display: flex;
  gap: 20px; /* Adres ve harita arasındaki boşluk */
}

.footerInfo {
  color: gray;
  display: flex;
  padding-top: 27px;
  flex-direction: column;
  gap: 10px; /* Linkler ve adres arasındaki boşluk */
}

.footerAddress {
  width: 100%; /* Tam genişliği kapla */
  margin-bottom: 10px; /* Adres ve linkler arasındaki boşluk */
}

.footerContact a {
  color: gray;
  display: block; /* Linkleri alt alta yerleştir */
  margin-bottom: 5px; /* Linkler arasındaki boşluk */
}

.footerMap {
  margin-top: 10px; /* Harita ve linkler arasındaki boşluk */
  flex-shrink: 0; /* Haritanın boyutunu koru */
}

.footerTitle {
  font-weight: bold;
}

.linkList a {
  display: block; /* Linkleri alt alta yerleştir */
  margin-bottom: 10px; /* Linkler arasındaki boşluk */
  text-decoration: none; /* Alt çizgiyi kaldır */
  color: inherit; /* Metin rengini miras al */
}

.linkList a:last-child {
  margin-bottom: 0; /* Son linkin alt boşluğunu kaldır */
}

.LinkButton {
  color: white;
  background-color: #4344f8;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  bottom: 0;
}

/* 1500px ve üzeri ekranlar için */
@media (min-width: 1500px) {
  .button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  /* Buttons */
  .button {
    font-size: 18px;

    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button.filled {
    background-color: #4344f8;
    color: #ffffff;
    border: 2px solid #4344f8;
  }

  .button.filled:hover {
    background-color: #384ecc;
  }

  .button.outlined {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  .button.outlined:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .hero-title {
    font-size: clamp(24px, 3vw, 33px);
    padding-top: 20px;
    text-align: center;
  }

  .hero-description {
    font-size: clamp(16px, 2.5vw, 20px);
    line-height: 1.5;
    padding-top: 10px;
    text-align: center;
    line-height: 1.5;
  }
  .phone-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .content-box {
    font-size: 20px;
  }

  .red-box {
    background-color: red;
  }

  .blue-box {
    background-color: blue;
  }

  .image-box img {
    width: 100%;
    height: auto;
  }

  .text-end {
    text-align: end;
  }

  .text-start {
    text-align: start;
  }

  .header-text {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .content-row {
    display: flex;
    gap: 10px;
  }

  .description-text {
    font-size: 14px;
  }

  .icon-box {
    background-color: blue;
    width: 50px;
    height: 50px;
  }

  @media (min-width: 1500px) {
    .menu li {
      padding: 0.5rem 1rem;
    }

    .overlay-text {
      font-size: 72px;
      top: 210px;
      right: 338px;
    }

    .overlay-text-des {
      font-size: 30px;
      top: 300px;
      right: 430px;
    }

    .button-container {
      position: absolute;
      top: 380px;
      right: 420px;
      flex-direction: row;
    }
  }

  @media (min-width: 768px) and (max-width: 1499px) {
    .header-container {
      flex-direction: row;
    }

    .menu li {
      padding: 0.5rem 0.75rem;
    }

    .button-container {
      flex-direction: row;
      justify-content: center;
    }

    .button.filled,
    .button.outlined {
      width: 200px;
    }
  }

  @media (max-width: 767px) {
    .header-container {
      flex-direction: column;
      padding: 1rem 0;
    }

    .menu {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    .menu li a {
      padding: 0.5rem 0;
      border: none;
    }

    .cardWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding-top: 20px;
    }

    .w3-left,
    .w3-right {
      font-size: 24px;
      padding: 5px;
    }

    .w3-display-bottommiddle {
      bottom: 10px;
    }

    .overlay-text {
      font-size: 40px;
      top: 150px;
      right: 20px;
    }

    .overlay-text-des {
      font-size: 18px;
      top: 220px;
      right: 20px;
    }

    .button-container {
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .button.filled,
    .button.outlined {
      width: 80%;
    }
    .hero-title {
      font-size: 24px;
      text-align: center;
    }

    .hero-description {
      font-size: 14px;
      text-align: center;
    }
  }

  @media (max-width: 396px) {
    .header-container {
      flex-direction: column;
      padding: 1rem 0;
    }

    .menu {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    .menu li a {
      padding: 0.5rem 0;
      border: none;
    }

    .cardWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding-top: 20px;
    }

    .w3-left,
    .w3-right {
      font-size: 24px;
      padding: 5px;
    }

    .w3-display-bottommiddle {
      bottom: 10px;
    }

    .overlay-text {
      font-size: 40px;
      top: 150px;
      right: 20px;
    }

    .overlay-text-des {
      font-size: 18px;
      top: 220px;
      right: 20px;
    }

    .button-container {
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .button.filled,
    .button.outlined {
      width: 80%;
    }

    .hero-title {
      font-size: 24px;
      text-align: center;
    }

    .hero-description {
      font-size: 14px;
      text-align: center;
    }
  }
}
