* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nexa", sans-serif;
  font-size: clamp(10px, 0.8vw + 0.4rem, 14px);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

#firstHeader {
  background-color: #e4e6ea;
}

.mail {
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

#socialLinks {
  display: flex;
  height: 1rem;
  gap: 10px;
}

.header {
  background-color: white;
  font-weight: bold;
}

/* Header Container Temel Stil */
.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  flex-wrap: wrap;
}

/* Logo */
.brand img {
  cursor: pointer;
  height: auto;
  max-height: 50px;
}

/* Menü */
.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0.5rem 1rem;
}

.menu li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  padding-right: 1rem;
  align-items: center;
  border-right: 1px solid #000000;
  height: 100%;
}

.menu li:last-child a {
  border-right: none;
  padding-right: 1rem;
}

/* Slider Images */
.mySlides {
  width: 100%;
  display: none;
}

/* Navigation Arrows */
.w3-left,
.w3-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2;
}

.w3-left {
  left: 10px;
}

.w3-right {
  right: 10px;
}

/* Slider Navigation Dots */
.w3-display-bottommiddle {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.w3-badge {
  height: 13px;
  width: 13px;
  background-color: #4344f8;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
}

.w3-badge:hover {
  background-color: #fff;
}

.w3-display-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  font-size: clamp(36px, 5vw, 63px);
  top: 20%;
  right: 5%;
  color: white;
  font-weight: bold;
  padding-top: 2rem;
  text-align: right;
}

.overlay-text-des {
  position: absolute;
  font-size: clamp(18px, 3vw, 28px);
  top: 40%;
  right: 5%;
  color: white;
  text-align: right;
}

.button-container {
  position: absolute;
  top: 46%;
  right: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoSection {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 4rem 0 4rem 0;
}

/* Buttons */
.button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.filled {
  background-color: #4344f8;
  color: #ffffff;
  border: 2px solid #4344f8;
}

.button.filled:hover {
  background-color: #384ecc;
}

.button.outlined {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.button.outlined:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-title {
  font-size: clamp(24px, 3vw, 33px);
  padding-top: 90px;
  text-align: center;
}

.hero-description {
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 1.5;
  padding: 30px 0 30px 0;
  text-align: center;
}

.phone-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content-box {
  font-size: 20px;
}

.image-box img {
  width: 100%;
  height: auto;
}

.text-end {
  text-align: end;
  padding-bottom: 2rem;
}

.text-start {
  text-align: start;
  padding-bottom: 2rem;
}

.header-text {
  font-size: 20px;
  padding-bottom: 10px;
  text-decoration: underline;
  color: #24272f;
}

.content-row {
  display: flex;
  gap: 10px;
}

.description-text {
  font-size: 14px;
  color: #24272f;
}

.icon-box {
  width: 52px;
  height: 52px;
  background-color: #3b59ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  padding: 30px;
}

.icon-box img {
  width: 30px;
  opacity: 0.9;
}

.slider-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  height: 500px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.four-reason {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.text-content {
  width: 50%;
  padding-left: 20px;
}

.text-content h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.text-content strong {
  color: #000;
}

.text-content ul {
  list-style: none;
  color: #333;
  font-size: 16px;
}

.text-content li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-content li span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #f2f2f2;
  border: 2px solid #333;
  border-radius: 50%;
  font-weight: bold;
}

.infoSectionTitle {
  font-size: large;
  text-align: center;
}

.infoSectionTitle .bold {
  font-weight: 900;
}

.card-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center; /* Kartları yatayda ortalar */
}

.card {
  flex: 1 1 30%; /* Kartların aynı genişlikte olmasını sağlar */
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Kartların maksimum genişliği */
  text-align: center;
}

/* 1500px ve üzeri ekranlar için */
@media (min-width: 1500px) {
  .menu li {
    padding: 0.5rem 1rem;
  }

  .overlay-text {
    font-size: 72px;
    top: 20%;
    right: 16%;
  }

  .overlay-text-des {
    font-size: 30px;
    top: 37%;
    right: 20%;
  }
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .overlay-text,
  .overlay-text-des,
  .button-container {
    top: auto;
    right: auto;
    left: 10%;
    text-align: left;
  }

  .overlay-text {
    font-size: 30px;
  }

  .overlay-text-des {
    font-size: 16px;
  }

  .image-container {
    width: 100%;
    padding-right: 0;
  }

  .text-content {
    width: 100%;
    padding-left: 0;
  }

  .grid-container {
    grid-template-columns: 1fr;
    .button-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    /* Buttons */
    .button {
      font-size: 18px;

      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .button.filled {
      background-color: #4344f8;
      color: #ffffff;
      border: 2px solid #4344f8;
    }

    .button.filled:hover {
      background-color: #384ecc;
    }

    .button.outlined {
      background-color: transparent;
      color: #ffffff;
      border: 2px solid #ffffff;
    }

    .button.outlined:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .hero-title {
      font-size: clamp(24px, 3vw, 33px);
      padding-top: 20px;
      text-align: center;
    }

    .hero-description {
      font-size: clamp(16px, 2.5vw, 20px);
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      line-height: 1.5;
    }
    .phone-section {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .grid-item {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .content-box {
      font-size: 20px;
    }

    .red-box {
      background-color: red;
    }

    .blue-box {
      background-color: blue;
    }

    .image-box img {
      width: 100%;
      height: auto;
    }

    .text-end {
      text-align: end;
    }

    .text-start {
      text-align: start;
    }

    .header-text {
      font-size: 20px;
      padding-bottom: 10px;
    }

    .content-row {
      display: flex;
      gap: 10px;
    }

    .description-text {
      font-size: 14px;
    }

    .icon-box {
      background-color: blue;
      width: 50px;
      height: 50px;
    }

    @media (min-width: 1500px) {
      .menu li {
        padding: 0.5rem 1rem;
      }

      .overlay-text {
        font-size: 72px;
        top: 210px;
        right: 338px;
      }

      .overlay-text-des {
        font-size: 30px;
        top: 300px;
        right: 430px;
      }

      .button-container {
        position: absolute;
        top: 380px;
        right: 420px;
        flex-direction: row;
      }
    }

    @media (min-width: 768px) and (max-width: 1499px) {
      .header-container {
        flex-direction: row;
      }

      .menu li {
        padding: 0.5rem 0.75rem;
      }

      .button-container {
        flex-direction: row;
        justify-content: center;
      }

      .button.filled,
      .button.outlined {
        width: 200px;
      }
    }

    @media (max-width: 767px) {
      .header-container {
        flex-direction: column;
        padding: 1rem 0;
      }

      .menu {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }

      .menu li a {
        padding: 0.5rem 0;
        border: none;
      }

      .w3-left,
      .w3-right {
        font-size: 24px;
        padding: 5px;
      }

      .w3-display-bottommiddle {
        bottom: 10px;
      }

      .overlay-text {
        font-size: 40px;
        top: 150px;
        right: 20px;
      }

      .overlay-text-des {
        font-size: 18px;
        top: 220px;
        right: 20px;
      }

      .button-container {
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      .button.filled,
      .button.outlined {
        width: 80%;
      }
      .hero-title {
        font-size: 24px;
        text-align: center;
      }

      .hero-description {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
